datadir : '/data/x1-erigon-data'
chain : "x1-devnet"
http : true
private.api.addr : "localhost:9091"
zkevm.l2-chain-id: 1001
zkevm.l2-sequencer-rpc-url: "http://127.0.0.1:8123"
zkevm.l2-datastreamer-url: "127.0.0.1:6900"
zkevm.l1-chain-id: 1337
zkevm.l1-rpc-url: "http://127.0.0.1:8545"
zkevm.l1-contract-address: "0x0D9088C72Cd4F08e9dDe474D8F5394147f64b22C"
zkevm.l1-block-range: 10
zkevm.l1-query-delay: 1000
zkevm.l1-matic-contract-address: "0xcFE6D77a653b988203BfAc9C6a69eA9D583bdC2b"
zkevm.l1-ger-manager-contract-address: "0xEd236da21Ff62bC7B62608AdB818da49E8549fa7"
zkevm.l1-first-block: 271
zkevm.rpc-ratelimit: 250

externalcl: true
http.api : ["eth","debug","net","trace","web3","erigon","zkevm"]