global:
  scrape_interval: 10s
  scrape_timeout: 3s
  evaluation_interval: 5s

scrape_configs:
  - job_name: xlayer-test # used in test/docker-compose.yml
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
          - xlayer-rpc:9095
          - xlayer-seq:9095

  - job_name: erigon
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
          - erigon:6060 # If Erigon runned by default docker-compose, then it's available on `erigon` host.
          - erigon:6061
          - erigon:6062
          - host.docker.internal:6060 # this is how docker-for-mac allow to access host machine
          - host.docker.internal:6061
          - host.docker.internal:6062